.gradient {
  background: linear-gradient(115deg, #fff1be 28%, #ee87cb 70%, #b060ff 100%);
}

@media (min-width: 640px) {
  .gradient {
    background: linear-gradient(145deg, #fff1be 28%, #ee87cb 70%, #b060ff 100%);
  }
}

.gradientBackgroundContainer {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px; /* max-w-7xl */
}

.gradientBackgroundBlob {
  position: absolute;
  top: -11rem; /* -top-44 */
  right: -15rem; /* -right-60 */
  height: 15rem; /* h-60 */
  width: 36rem; /* w-xl (576px) */
  background: linear-gradient(115deg, #fff1be 28%, #ee87cb 70%, #b060ff 100%);
  transform: rotate(-10deg);
  border-radius: var(--radius-full);
  filter: blur(48px);
}

@media (min-width: 768px) {
  .gradientBackgroundBlob {
    right: 0;
  }
}